# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/
ENV/

# OS-specific files
Thumbs.db
db.db
Desktop.ini
.DS_Store

# Zipped submission
spot_fake_submission.zip
